# requirements.txt (1/1) - Assuming no direct Tweepy usage anymore
requests
python-dotenv
feedparser
Jinja2
Markdown
beautifulsoup4
Pillow
google-search-results
sentence-transformers
tweepy
trafilatura
google-ads
atprototools
praw